<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Consulta Paginada</title>
	<style>
	    table, th ,td{
	      border:2px groove black;
	      margin:100px 250px 100px 250px;
	      height:20px;
	      width:20px
	    }
	</style>
</head>
<body>
     <table>
           <tr style="border:2px solid black">
              <th>NOME</th>
              <th>PREÇO</th>
              <th>DESCONTO</th>
              <th>ID</th>
           </tr>
           <tr th:each=" produto: ${produtos}" >
             <td><b th:text="${produto.nome}" /></td>
             <td><b th:text="${produto.preco}" /></td>
             <td><b th:text="${produto.desconto}" /></td>
             <td><b th:text="${produto.id}" /></td>
           </tr>
      </table>
</body>
</html>